
@{
    ViewBag.Title = "Success";
}

@*<div class="page1 container min-vh-100"></div>*@
<div class="page1 container min-vh-100">

    <h2 class="text-primary text-center my-5">@ViewBag.message</h2>


</div>